@import './mixin';

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.img-box {
  width: 100%;

  img {
    width: 100%;
  }
}

.m-hide {
  display: block !important;
}

.m-show {
  display: none;
}

.inner-1280 {
  @include vw-max(max-width, 1280);
  margin: 0 auto;
}

/* nav */
.sh-nav {
  position: absolute;
  left: 0;
  top: 0;
  @include vw-pc(padding, 32 40);
  z-index: 10;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include vw-pc(width, 45);
    @include vw-pc(height, 36);
  }

  &__line {
    width: 100%;
    @include vw-pc(height, 3);
    background-color: #fff;
  }
}

/* 모달창 */
.nav-modal {
  display: none;
  @include vw-pc(width, 1200);
  @include vw-pc(height, 700);
  @include vw-pc(margin, 87 auto 0);
  background-color: #fff;
  overflow: hidden;

  &.active {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 10;
  }

  .nav-left {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    @include vw-pc(width, 793);
    @include vw-pc(padding, 67 58 70);
  }

  .nav-right {
    position: absolute;
    right: 0;
    top: 0;
    @include vw-pc(width, 220);
    @include vw-pc(height, 565);
    @include vw-pc(padding, 68 35);
    background-color: #e7e7e7;
  }

  .nav-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include vw-pc(gap, 16 40);
    @include vw-pc(width, 756);
    @include vw-pc(margin-bottom, 20);

    &__img {
      display: block;
      @include vw-pc(margin-bottom, 16);
    }

    &__info {
      @include vw-pc(margin-bottom, 7);
      @include vw-pc(font-size, 12);
      text-align: center;
      color: #666;
    }
  }

  .nav-sub {
    display: flex;
    justify-content: space-between;
    @include vw-pc(width, 793);
    @include vw-pc(height, 44);
    background-color: #f2f2f2;

    &__list {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @include vw-pc(width, 158);

      &:not(:last-child){
        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          @include vw-pc(width, 1);
          @include vw-pc(height, 10);
          @include vw-pc(margin-top, -5);
          background-color: #b5a692;
        }
      }
    }
    
    &__item {
      @include vw-pc(font-size, 12);
      color: #a57432;
    }
  }

  .member-menu {
    display: flex;
    width: 100%;
    
    &__item {
      position: relative;
      width: auto;

      &:not(:last-child){
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          right: 0;
          top: 50%;
          @include vw-pc(width, 1);
          @include vw-pc(height, 10);
          @include vw-pc(margin-top, -5);
          background: #c9c9c9;
        }
      }
    }

    &__link {
      @include vw-pc(padding, 0 7.5);
      @include vw-pc(font-size, 12);
      color: #999;
    }
  }
}

.main-swiper,
.intro-swiper,
.golf-swiper {
  .swiper-slide {
    img {
      @include vw-pc(max-width, 1920);
      @include vw-pc(height, 950);
    }
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background: #fff;
  }
  
  .swiper-pagination-bullet {
    @include vw-pc(width, 9);
    @include vw-pc(height, 9);
    background: none;
    border: 1px solid #fff;
  }
}

.special-swiper {
  @include vw-pc(width, 1200);
  margin: 0 auto;

  .swiper-container {
    .swiper-slide {
      @include vw-pc(margin-bottom, 50);
      text-align: left;

      img {
        @include vw-pc(width, 338);
        @include vw-pc(height, 320);
        @include vw-pc(margin-bottom, 20);
      }
    }

    .swiper-pagination-bullets {
      @include vw-pc(bottom, 0);
    }
  
    .swiper-pagination .swiper-pagination-bullet-active {
      background: #999;
    }
    
    .swiper-pagination-bullet {
      @include vw-pc(width, 9);
      @include vw-pc(height, 9);
      background: none;
      border: 1px solid #999;
      opacity: 1;
    }
  }

  &__tit {
    @include vw-pc(margin-bottom, 40);
    @include vw-pc(font-size, 15);
    @include vw-pc(line-height, 20);
    @include vw-pc(letter-spacing, -1);
    color: #333;
  }

  &__date {
    @include vw-pc(font-size, 15);
    color: #999;
  }
}

.theme-enter {
  position: relative;
  display: flex;
  justify-content: space-between;
  @include vw-pc(width, 1120);
  margin: 0 auto;
  @include vw-pc(padding, 200 0);

  .txt-box {
    writing-mode: vertical-rl;
    @include vw-pc(margin-right, 176);

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include vw-pc(bottom, -80);
      @include vw-pc(width, 0.1);
      @include vw-pc(height, 375);
      background-color: #aaa;
      z-index: 10;
    }
  }

  &__tit {
    @include vw-pc(font-size, 30);
    @include vw-pc(margin-left, 40);
    color: rgb(207, 173, 23);
    font-weight: normal;
  }

  &__txt {
    @include vw-pc(font-size, 16);
    @include vw-pc(line-height, 30);
    color: #888;

    & +.theme-enter__txt {@include vw-pc(margin-right, 30);}

    &--except {
      writing-mode: horizontal-tb;
      @include vw-pc(line-height, 17);
    }
  }
}

video {
  @include vw-pc(max-width, 468);
}

/* 테마별 상품 소개 */
.theme-prod {
  &--intro {
    display: flex;
    justify-content: space-between;
    @include vw-pc(padding, 110 0);
    background-color: #f4f1d0;

    .prod-list {
      display: flex;
      justify-content: space-between;
      @include vw-pc(width, 1120);
      @include vw-pc(height, 504);

      &__item {
        @include vw-pc(width, 363);
      }

      &__tit {
        @include vw-pc(margin-bottom, 16);
        color: #a57432;
      }

      &__desc {
        @include vw-pc(margin-bottom, 33);
        color: #888;
      }

      &__btn {
        background-image: url('../images/intro_list_btn_pc.png');
        border: 1px solid #a57432;
      }
    }
  }

  &--water {
    @include vw-pc(padding, 110 0);
    background-color: #f4f1d0;

    .prod-list {
      display: flex;
      justify-content: space-between;  
      @include vw-pc(width, 1110);
      @include vw-pc(height, 420);

      &__item {
        @include vw-pc(width, 210);
      }

      &__tit {
        @include vw-pc(margin-bottom, 16);
        color: #a57432;
      }

      &__desc {
        @include vw-pc(margin-bottom, 20);
        color: #888;
      }

      &__btn {
        background-image: url('../images/intro_list_btn_pc.png');
        border: 1px solid #a57432;
      }

      .img-box {
        @include vw-pc(width, 210);
        @include vw-pc(height, 210);
        overflow: hidden;
      }
    }
  }

  &--family {
    @include vw-pc(padding-bottom, 110);

    .prod-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include vw-pc(width, 1280);
      margin: 0 auto;
      @include vw-pc(gap, 10);

      &__item {
        position: relative;

        &:nth-child(1) {
          grid-column: 1/3;

          img {
            @include vw-pc(width, 1280);
          }
        }
      }

      &__inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
      }

      &__tit {
        @include vw-pc(margin-bottom, 20);
        font-weight: lighter;
        color: #fff;
      }

      &__desc {
        @include vw-pc(margin-bottom, 20);
        font-weight: lighter;
        color: #fff;
      }

      &__btn {
        background-image: url('../images/family_list_btn_pc.png');
        mix-blend-mode: lighten;
        border: 1px solid #fff;
      }
    }
  }

  .prod-list {
    margin: 0 auto;
    
    &__item {
      background-color: #fff;
    }

    &__inner {
      @include vw-pc(padding, 40 0);
      text-align: center;
    }

    &__tit {
      @include vw-pc(font-size, 25);
      @include vw-pc(letter-spacing, -1);
    }

    &__desc {
      display: block;
      @include vw-pc(font-size, 15);
      @include vw-pc(letter-spacing, -1);
    }

    &__btn {
      overflow: hidden;
      display: block;
      @include vw-pc(width, 28);
      @include vw-pc(height, 28);
      margin: 0 auto;
      text-align: center;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      text-indent: -9999px;
      font-size: 0;
    }
  }
}

/* 온천 */
.water-display {
  position: relative;
  @include vw-pc(max-width, 1920);
  
  &__inner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    color: #fff;
  }

  &__tit {
    display: block;
    @include vw-pc(margin-bottom, 20);
    @include vw-pc(font-size, 40);
    font-weight: normal;
  }

  &__desc {
    @include vw-pc(font-size, 23);
    @include vw-pc(letter-spacing, -1);
  }
}

.sh-special {
  @include vw-pc(padding, 110 0);
  background-color: #f2f2f2;
  text-align: center;

  &__tit {
    display: block;
    @include vw-pc(margin-bottom, 20);
    @include vw-pc(font-size, 28);
    @include vw-pc(letter-spacing, -1);
    font-weight: 300;
    font-weight: bold;
    color: #a57432;
  }

  &__desc {
    @include vw-pc(margin-bottom, 40);
    @include vw-pc(font-size, 18);
    @include vw-pc(letter-spacing, -1);
    @include vw-pc(line-height, 24);
    font-weight: 300;
    color: #333;
  }
}

/* footer */
.sh-footer {
  justify-content: space-between;
  @include vw-pc(height, 138);
  @include vw-pc(padding, 35 0);
  background-color: #949494;
  @include vw-pc(font-size, 12);
  color: #fff;

  .inner-1280 {
    @include vw-pc(max-width, 1280);
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
  }

  &__right {
    @include vw-pc(width, 300);
    @include vw-pc(letter-spacing, -0.2);
  }

  &__divi {
    @include vw-pc(margin-left, 83);
  }

  &__logo {
    @include vw-pc(width, 138);
    text-align: center;
  }

  &__link {
    display: flex;
    @include vw-pc(margin-bottom, 15);
    @include vw-pc(font-size, 14);
    font-weight: bold;
    @include vw-pc(letter-spacing, -1);
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      @include vw-pc(padding, 0 13);

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 10px;
        margin-top: -5px;
        background: #aaa;
      }
    }
    &:first-child {
      @include vw-pc(padding-right, 13);
    }
  }

  &__info {
    .sh-footer__desc {
      display: inline;
      @include vw-pc(margin-right, 10);
    }

    &--top {
      @include vw-pc(margin-bottom, 9);
    }
  }
  
  &__inner {
    @include vw-pc(width, 470);
    @include vw-pc(margin-bottom, 5);
    @include vw-pc(letter-spacing, -0.7);
  }

  &__sns {
    display: flex;
    justify-content: space-between;
    @include vw-pc(width, 52);
    @include vw-pc(height, 24);
    @include vw-pc(margin-bottom, 10);
    @include vw-pc(background-size, 52 20);
    background: left no-repeat url('../images/footer_sns_pc.png');
  }

  &__insta,
  &__youtube {
    display: block;
    @include vw-pc(width, 20);
    @include vw-pc(height, 22);
  }

  &__shortcut {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include vw-pc(max-width, 350);
    @include vw-pc(margin-bottom, 15);

    .sh-footer__desc {
      @include vw-pc(line-height, 20);
    }
  }
}

@media all and (max-width: 768px) {
  .m-hide {
    display: none;
  }

  .m-show {
    display: block !important;
  }
}