@import './mixin';

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.img-box {
  width: 100%;
}

.m-hide {
  display: block !important;
}

.m-show {
  display: none;
}

.inner-1280 {
  max-width: 1280px;
  margin: 0 auto;
}

.sh-logo {
  display: none;
}

/* nav */
.sh-nav_ {

}

/* main visual */
.sh-main {
  .main-swiper {
    @include vw-pc(max-width, 1920);
    @include vw-pc(height, 950);
  }
}

/* 설해원의 품격 */
.sh-intro {
  @include vw-pc(width, 1120);
  margin: 0 auto;
  @include vw-pc(padding-top, 200);
  background-color: #fff;

  &__tit {
    @include vw-pc(font-size, 20);
    writing-mode: vertical-rl;
  }
}

/* footer */
.sh-footer {
  justify-content: space-between;
  @include vw-pc(height, 138);
  @include vw-pc(padding, 35 0);
  background-color: #949494;
  @include vw-pc(font-size, 12);
  color: #fff;

  .inner-1280 {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
  }

  &__right {
    @include vw-pc(width, 300);
    @include vw-pc(letter-spacing, -0.2);
  }

  &__divi {
    @include vw-pc(margin-left, 83);
  }

  &__logo {
    @include vw-pc(width, 138);
    text-align: center;
  }

  &__link {
    display: flex;
    @include vw-pc(margin-bottom, 15);
    @include vw-pc(font-size, 14);
    font-weight: bold;
    @include vw-pc(letter-spacing, -1);
  }

  &__item {
    position: relative;

    &:not(:first-child) {
      @include vw-pc(padding, 0 13);

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 10px;
        margin-top: -5px;
        background: #aaa;
      }
    }
    &:first-child {
      @include vw-pc(padding-right, 13);
    }
  }

  &__info {
    .sh-footer__desc {
      display: inline;
      @include vw-pc(margin-right, 10);
    }

    &--top {
      @include vw-pc(margin-bottom, 9);
    }
  }
  
  &__inner {
    @include vw-pc(width, 470);
    @include vw-pc(margin-bottom, 5);
    @include vw-pc(letter-spacing, -0.7);
  }

  &__sns {
    display: flex;
    justify-content: space-between;
    @include vw-pc(width, 52);
    @include vw-pc(height, 24);
    @include vw-pc(margin-bottom, 10);
    background: left no-repeat url('../images/footer_sns_pc.png');
  }

  &__insta,
  &__youtube {
    display: block;
    @include vw-pc(width, 20);
    @include vw-pc(height, 22);
  }

  &__shortcut {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include vw-pc(max-width, 350);
    @include vw-pc(margin-bottom, 15);

    .sh-footer__desc {
      @include vw-pc(line-height, 20);
    }
  }
}

@media all and (max-width: 768px) {
  .m-hide {
    display: none;
  }

  .m-show {
    display: block !important;
  }
}